<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Miniature Compute Unit</title>
    <!-- <meta name="description" content="">
    <meta name="author" content=""> -->


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/kairos/css/base.css">
    <link rel="stylesheet" href="/static/kairos/css/vendor.css">
    <link rel="stylesheet" href="/static/kairos/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/homepage.css">

    <!-- script
    ================================================== -->
    <script src="/static/kairos/js/modernizr.js"></script>
    <script src="/static/kairos/js/pace.min.js"></script>


</head>

<body id="top">


    <!-- header 
    ================================================== -->
    <header class="s-header">

        <div class="row">
            <div class="header-logo">
                <a class="site-logo" href="#">
                    <h1 style="color: white; padding-left: 75px; padding-bottom: 58px; margin-right: 50px;">MCU</h1>
                    <!-- <img src="/static/kairos/images/logo.svg" alt="Homepage"> -->
                </a>
            </div>
    
            <nav style = "font-size: 30px;" class="header-nav-wrap">
                <ul class="header-main-nav">&nbsp;&nbsp;
                    <li ><a href="" >Results</a></li>&nbsp;
                    <li ><a href="/" >Logout</a></li>
                    <li style="margin-left :630px; color:white; padding-top :4px;"><p>{{loginusername}}   {{loginuserid}}</p></li>
                </ul>
               
        
            </nav> 
           
        </div>

    </header> <!-- end header -->


    <section class="s-about target-section">
        <div class  = "container-1">
            <h1>File Upload</h1>
            <input style = " background-color: azure; border: 2px solid black; border-radius: 5px;color: black; font-size: 9.5px; padding-left: 30px; font-family: sans-serif; font-weight: bolder; padding-top: 3px;   height: 30px; width: 112px; margin-right: 20px; line-height: 2px; display: block; font-weight:bold;text-align: left;" class = "updatebtn" type="submit" value="Update" >
            <input style = "display: none;"type="file" id="file" name="filename">
            <label class = "uploadbtn" for="file" >Upload file </label>
            
        </div>
       
    </section>

   


    <!-- Java Script
    ================================================== -->
    <script src="/static/kairos/js/jquery-3.2.1.min.js"></script>
    <script src="/static/kairos/js/plugins.js"></script>
    <script src="/static/kairos/js/main.js"></script>

</body>